* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* 导航 */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111827;
}

.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav a:hover {
  color: #facc15;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #16a34a, #065f46);
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #facc15;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

/* Section */
.section {
  padding: 50px;
  text-align: center;
}

/* About 页面列表样式 */
.section ul {
  list-style-type: disc;
  margin: 20px auto;
  padding-left: 40px;
  max-width: 600px;
  text-align: left;
}
.section li {
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
}
