/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111827;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav a:hover {
  color: #facc15;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #16a34a, #065f46);
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  opacity: 0.8;
  margin-top: 10px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin: 10px;
  background: #facc15;
  color: black;
}

/* SECTIONS */
.section {
  padding: 50px;
  text-align: center;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

/* CONTACT */
.contact-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.contact-card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-10px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
}